{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">MP4 to MP3 Converter</h5>
                <p class="card-text">Convert your MP4 video files to MP3 audio files easily.</p>
                <a href="/mp4-to-mp3" class="btn btn-primary">Go to Converter</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">YouTube Audio Downloader</h5>
                <p class="card-text">Download audio from YouTube videos or playlists.</p>
                <a href="/yt-download" class="btn btn-primary">Go to Downloader</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
